@use '../tokens/colors' as *;
@use '../tokens/typography' as *;

.healthy-tip-section{
  padding: 96px 128px;
  display: flex;
  gap: 32px;
}

.healthy-tip-card{
  display: flex;
  flex-direction: column;

  & img{
    width: 64px;
    height: 64px;
  }

  &__title{
    margin-top: 48px;
    color: $blue-900;
    font-size: $text-preset-4;
    line-height: $leading-preset-4;
    font-weight: $font-weight-preset-4;
  }

  &__description{
    margin-top: 24px;
    font-size: $text-preset-6;
    line-height: $leading-preset-6;
    color: $grey-500;
  }
}

@media(max-width: 1024px){
  .healthy-tip-section{
    padding: 50px 40px;
    flex-direction: column;
  }

  .healthy-tip-card{
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

@media(max-width: 576px){
  .healthy-tip-section{
    padding: 48px 24px;
  }
  .healthy-tip-card{
    flex-direction: column;
    align-items: start;
    gap: 0;

    &__title{
      margin-top: 32px;
    }
  }
}