$black: #000000;
$white: #ffffff;

$grey-300: #ACC1DE;
$grey-500: #5E6E85;

$blue-100: #E1E7FE;
$blue-300: #B3D3F1;
$blue-500: #345FF6;
$blue-900: #253347;

$gradient-1: linear-gradient(180deg, #D6FCFE 0%, #D6E6FE 100%);