$font-primary: "Inter", san-serif;

$text-preset-1: 64px;
$leading-preset-1: 110%;
$tracking-preset-1: -5%;
$font-weight-preset-1: 600;

$text-preset-2: 48px;
$leading-preset-2: 110%;
$tracking-preset-2: -5%;
$font-weight-preset-2: 600;

$text-preset-3: 32px;
$leading-preset-3: 110%;
$tracking-preset-3: -5%;
$font-weight-preset-3: 600;

$text-preset-4: 24px;
$leading-preset-4: 120%;
$tracking-preset-4: -5%;
$font-weight-preset-4: 600;

$text-preset-5: 20px;
$leading-preset-5: 120%;
$tracking-preset-5: -5%;
$font-weight-preset-5: 600;

$text-preset-6: 16px;
$leading-preset-6: 150%;
$font-weight-preset-6: 600;

$text-preset-7: 14px;
$leading-preset-7: 150%;
$font-weight-preset-7: 700;